*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    width: 100%;
    height: 4888px;
    background-color: #F3F5F7;
}
.head{
width: 100%;
height: 50px;
background-color: #000000;
position: fixed;
z-index: 5;
}
.head1{
    width: 1560px;
    height: 50px;
    margin: 0 auto;
    padding: 0 20px;
}
.logo{
    width: 242px;
    height: 49px;
    float: left;
    margin-left: -51px;
}
.menus{
width: 613.5px;
height: 50px;
float: left;
/* background-color: aquamarine; */
}
.menus ul li:hover{
     color: #52E2C0;
}
.menus ul li:hover text{
    color: #ccc;
}
.menus ul li{
    float: left;
    height: 50px;
    line-height: 50px;
padding: 0 16px;
color: #ccc;
font-size: 14px;
}
.li1{
    position: relative;
}
.menus li h1{
    width: 9px;
    height: 5px;;
    background-image: url(img/topbar_sprite4.png);
    background-position:26px -18px;
    position: absolute; 
    top:22px;
    left: 47px;
}
.menus li h2{
    width: 9px;
    height: 5px;;
    background-image: url(img/topbar_sprite4.png);
    background-position: 16px -18px;
    position: absolute;
    top:22px;
    left: 47px;
    display: none;
}
.li1:hover  h1{
    display: none;
}
.li1:hover  h2{
    display: block;
}
.li1 text{
    position: absolute;
    top:50px;
    left: 0px;;
display: none;
}
.li1 p{
    width: 92px;
    height: 34px;
    background-color: #222222;
    line-height: 34px;
    text-indent:15px;
}
.li1:hover text{
display: block;
}
.head1_right{
    width:330px;
    height: 50px;
    float: right;
    /* background-color: chartreuse; */
}
.head1_right li{
    float: left;
    line-height: 50px;
    color: #ccc;
    font-size: 14px;
}
.h1{
    width: 25px;
    height: 25px;
    background-image: url(img/new_topbar.png);
    background-position: -169px 0px;
    margin: 13px 16px 0px 16px;
}
.h2{
    width: 25px;
    height: 25px;
    background-image: url(img/new_topbar.png);
    background-position: -23px 0px;
    margin: 13px 0px 12px 16px;
    position: relative;

}
.h2 text{
    position: absolute;
    top: 37px;
    left: -15px;
display: none;
}
.h2 p { 
    width: 100px;
    height: 34px;
    background-color: #222222;
    line-height: 34px;
    text-indent:15px;
}
.h2:hover text{
    display: block;
}
.h2 p:hover {
    background-color: #444444;
}
.h3{
    width: 25px;
    height: 25px;
    background-image: url(img/new_topbar.png);
    background-position:-118px 0px;
    margin: 13px 0px 12px 16px;
    position: relative;
}
.h3 text{
    position: absolute;
    top: 37px;
    left: -15px;
    display: none;
}
.h3 p{
    width: 80px;
    height: 34px;
    background-color: #222222;
    line-height: 34px;
    text-indent:12px;
}
.h3:hover text{
    display: block;
}
.h3 p:hover {
    background-color: #444444;
}
.h4{
    width: 25px;
    height: 25px;
    background-image: url(img/new_topbar.png);
    background-position: -72px 0px;
    margin: 13px 16px 0px 16px;
}
.h5{
    width: 9px;
    height: 5px;
    background-image: url(img/topbar_sprite4.png);
    background-position:26px -18px;
    margin: 23px 0 0 3px;
    }
    .h6{
    width: 9px;
    height: 5px;
    background-image: url(img/topbar_sprite4.png);
    background-position:26px -18px;
        margin: 23px 0 0 3px;
    }
    .s{
        width: 206px;
        height: 30px;
        /* background-color:red; */
        float: right;
        margin-top: 12.5px;
        position: relative;
    }
    .s input{
        width: 176px;
        height: 25px;
        border: none;
        float: left;
        background-color: #DDDDDD;
         color: #898989;
         font-size: 10px;
        text-indent: 1em;
        }
        .s button{
       width: 30px;
       height: 25px;
       background-image: url(img/topbar_sprite4.png);
       background-position: 30px -23px;
       border: none;
       float: left;

        }
        .z{
            width: 206px;
            background-color: #000000;
            position: absolute;
            top:30px;
            display: none;
            
        }
        .z p{
        width: 206px; 
        line-height: 30px;
        color: #fff;
        font-size: 12px;
        margin-left: 15px;
        }
    .statisEle{
        position: relative;
       top:50px;
    }
 .statisEle li{
     width: 1600px;
     height: 480px;
     margin: 0 auto;
 }
 .statisEle_k{
     width: 258px;
     height:376px;
     background-color:black;
     padding: 14px 0 14px 0;
 background: rgba(0,0,0,.5);
 position: absolute;
 top: 29px;
right: 217px;
 }
 .statisEle_k p{
     width: 232px;
     height: 34px;
     line-height: 34px;
     color: #fff;
     font-size: 14px;
     margin: 4px auto 0;
 }
 .statisEle_k p:hover{
    color: #52e2c0;
 }
 .First_sowing{
     width: 1600px;
     height: 489px;
     margin: 50px auto 0px;
     /* background-color: chocolate; */
 }
 .titleBox{
     width: 1470px;
     height: 68px;
     /* background-color:#D3D3D3; */
     margin: 0 auto;
     border-bottom: 2px solid #f4f4f4;
     overflow: hidden;
 }
 .titleBox ul{
     width: 1470px;
     height: 20px;
     margin: 34px 0 16px;
 }
 .titleBox ul h3{
    font-size: 15px;
    color: #000;
    float: left;
    line-height: 20px;
 }
 .titleBox ul li{
     width: 28px;
     height: 20px;
     float: right;
     margin: 0 15px;
     border-left: 1px dashed #D3D3D3;
 }
.titleBox ul li a{
    color: #666;
    font-size: 14px;
    line-height: 20px;
    height: 32px;
   display:block;
   
}
.now{
    border-bottom: 2px solid #52E2C0;
}
.titleBox a:hover{
    color: #52E2C0;
}
.First_sowing_bottom{
    width:1470px;
    height: 398px;
    /* background-color: deeppink; */
    margin: 21px auto 0;
}
.First_sowing_bottom_left{
    width: 470px;
    height: 377px;
    float: left;
    /* background-color: darkorange; */
}
.First_sowing_bottom_left img{
 width: 470px;
height: 323px;
}
.xs{
    width: 445px;
    height:16px; 
    margin: 12px 12px 12px 12px;
    font-size: 16px;
    line-height: 16px
}
.xs1{
    width: 445px;
    height: 14px;
    font-size: 14px;
    line-height: 14px;
    margin: 0 12px;
}
.First_sowing_bottom_left text:hover p{
    color: #52e2c0;
}
.First_sowing_bottom_right{
    width: 1000px;
    height: 377px;
    float: right;
    /* background-color: darkmagenta; */
}
.First_sowing_bottom_right ul{
    width: 1100px;
    margin-left: 30px;
}
.First_sowing_bottom_right li{
    width: 220px;
    height: 199px;
    float: left;
    margin-right: 30px;
}
.First_sowing_bottom_right li img{
    width: 220px;
    height: 124px;
    margin-right: 30px;
    overflow: hidden;
}
.xs2{
    font-size: 14px;
    line-height: 16px;
    margin: 12px 12px 10px;
}
.xs3{
    font-size: 12px;
    line-height: 16px;
    margin: 0 12px 21px;
    color: #a4a4a4;
}
.First_sowing_bottom_right text:hover p{
    color: #52e2c0;
}
.zhoujielun{
        width:1470px;
    height: 398px;
    /* background-color: deeppink; */
    margin: 21px auto 0;
}
.zhoujielun ul{
width: 1600px;
margin-right: 30px;
}
.zhoujielun li{
    width: 220px;
    height: 199px;
    float: left;
    margin-right: 87.5px;
}
.zhoujielun text:hover p{
    color: #52e2c0;
}
.First_sowing .x100{
    display: none;
}
.z p span{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color:#DEDEDE ;
    line-height: 16px;
    text-align: center;
    margin-right: 10px;
}
.z p .g1{
    width: 16px;
    height: 16px;
    background-color: #FF6666;
}
.z p .g2{
    width: 16px;
    height: 16px;
    background-color: #3BE3FF;
}
.z p .g3{
    width: 16px;
    height: 16px;
    background-color: #33FFC5;
}

