*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.box{
    width: 1125px;
    height: 550px;
    margin: auto;
    margin-top: 200px;
    border: 20px solid royalblue;
    position: relative;
    overflow: hidden;
}
.small_box{
    width:9999px;
    height: 550px;
    position: absolute;
    top: 0;
    left: 0;
}
.small_box>img{
    width: 1125px;
    height: 550px;
    float: left;
}