<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <th>用户名</th>
            <th>密码</th>
            <th>ID</th>
            <th>电话</th>
            <th>邮箱</th>
            <th>创建时间</th>
            <th>更改时间</th>
        </thead>
        <% for(var i=0,i<doc.length;i++){
        %>    

        <tbody><%= 555 %></tbody>

        <%
        } 
        %>   
        
    </table>
</body>
</html>