*{
    margin:0;
    padding: 0;

}
body{
    background: url("../images/dong.jpg");
    background-size: cover;
    position: relative;
}
.box{
    padding: 50px;
    width: 600px;
    height: 600px;
    background: #e53935;
    margin: auto;
    margin-top: 100px;
    border: 2px solid #0c8ed9;
    box-shadow: 0 10px 30px #000;
    border-radius: 20px;
}
.top{
    text-align: center;
    line-height: 60px;
    font-size: 30px;
}
.main{
    font-size: 25px;
    line-height: 50px;
}
.main>input{
    margin: 40px 0;
    line-height: 30px;
    width: 400px;
}
.main>textarea{
    margin-top: 60px;
    width: 400px;
    vertical-align: middle;
}
