*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.hread{
    width: 100%;
    /*height: 30px;*/
    background-color: #0C8ED9;
}
.hread_in{
    width: 1200px;
    height: 30px;
    margin: 0 auto;
    background-color: #2c323b;
}
.hread_in_left{
    width: 150px;
    height: 30px;
    float: left;
    background-color: #FF4222;
}
.hread_in_left ul{
    width: 150px;
    height: 30px;
    background-color: chartreuse;
}
.hread_in_left li{
    width: 30px;
    height: 10px;
    float: left;
    background-color: #dd00a7;
    margin: 10px;
}

.hread_in_right{
    width: 400px;
    height: 30px;
    float: right;
    background-color: yellow;
}
.hread_in_right ul{
    width: 350px;
    height: 30px;
    background-color: blue;
}
.hread_in_right li{
    width: 30px;
    height: 10px;
    float: left;
    background-color: #dd00a7;
    margin: 10px;
}
.ss{
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    background-color: deeppink;
}
.logo{
    width: 180px;
    height: 150px;
    background-color: #FF8400;
    float: left;
}
.sou{
    width: 600px;
    height: 100px;
    background-color: #3BE3FF;
    float: left;
    margin-left: 180px;
    margin-top: 50px;
}
.sou_in{
    width: 600px;
    height: 100px;
    background-color: lawngreen;
}
.sou_in_left{
    width: 500px;
    height: 50px;
    float: left;
    background-color: aqua;
}
.sou_in_right{
    width: 100px;
    height: 50px;
    float:right;
    background-color: blueviolet;
}
.sou_in_bottom{
    width: 550px;
    height: 50px;
    background-color: chocolate;
    float: left;
}
.sou_in_bottom ul{
    width:550px ;
    height: 50px;
    background-color:red;
}
.sou_in_bottom li{
    width: 40px;
    height: 30px;
    float: left;
    background-color: burlywood;
    margin: 10px;
}
.sou_bottom{
    width: 1000px;
    height: 50px;
    background-color: greenyellow;
    margin-left: 50px;
    float: left;
}
.sou_bottom_left{
    width: 130px;
    height: 50px;
    background-color: #0C8ED9;
    float: left;
}
.sou_bottom_right ul{
    width: 870px;
    height: 50px;
    float: right;
    background-color: #999;
}
.sou_bottom_right ul p{
    width: 100px;
    height: 50px;
    float: left;
    background-color:rebeccapurple;
    margin-right: 10px;
}
.sou_bottom_right ul li{
    width: 60px;
    height: 30px;
    margin:10px;
    float: left;
    background-color: blue;
}
.datu{
    width: 1200px;
    height: 480px;
    background-color: #2CAE6E;
    margin:  0 auto;
}
.datu_in{
    width: 130px;
    height: 480px;
    background-color: red;
    margin-left: 50px;

}
.datu_in li{
    width: 130px;
    height: 20px;
    background-color: #c0dbff;
    margin-bottom:10px;
}
.hd{
    width: 1200px;
    height: 940px;
    background-color: blueviolet;
    margin: 0 auto;
}
.hd_top{
    width: 1200px;
    height: 40px;
    background-color: #999;
    position: relative;
}
.hd_top p{
    width: 100px;
    height: 40px;
    background-color: red;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
.hd_zh{
    width: 1200px;
    height: 200px;
    background-color: royalblue;
    overflow: hidden;
}
.hd_zh ul{
    margin-left: 50px;
    margin-right: 80px;
    width: 1085px;
    height: 200px;
    /*background-color: darkgreen;*/

}
.hd_zh ul li{
    width: 200px;
    height: 170px;
    float: left;
    background-color:blueviolet ;
    margin-right: 17px;
}
.hd_bottom{
    margin-left: 50px;
    margin-right: 80px;
    width: 1070px;
    height: 360px;
    background-color: #FF8400;
}

.h1{
    width: 200px;
    height: 340px;
    background-color: #33FFC5;
    margin-right: 14px;
    float: left;
}
.hd_bottom ul{
    width: 1500px;
    height: 340px;
}
.hd_bottom ul li{
    margin-right: 28px;
    width: 414px;
    height: 340px;
    background-color: #ccc;
    float: left;
}
.hd_xia{
    width: 1070px;
    height: 340px;
    background-color: maroon;
    margin-left: 50px;
    margin-right: 80px;
    overflow: hidden;
}
.hd_xia ul{
    width: 1176px;
    height: 340px;
}
.hd_xia ul li{
    margin-top: 2px;
    margin-right: 2.3px;
    width: 105px;
    height: 111px;
    background-color:mediumblue;
    float: left;
}
.cs{
    width: 1200px;
    height: 1200px;
    background-color: aqua;
    margin: 0 auto;
}
.cs_top{
    width: 1070px;
    height: 50px;
    background-color: #FF8400;
    margin-left:50px;
    margin-right: 80px;
    overflow: hidden;
}
.cs_top p{
    width: 150px;
    height: 20px;
    background-color: blue;
    margin-top: 20px;
    float: left;
}
.cs_top ul{
    float: right;
    margin-top: 20px;
}
.cs_top ul li{
    width: 50px;
    height: 20px;
    background-color: red;
    float: left;
    margin-right: 10px;
}
.cs_bottom{
    width: 1070px;
    height: 600px;
    background-color:#000000;
    margin-left: 50px;
    overflow: hidden;
}
.cs_bottom_left{
    width: 200px;
    height: 600px;
    float: left;
    background-color: #dd00a7;
    /*margin-right: 10px;*/
}
.cs_bottom_right{
    width: 860px;
    height: 600px;
    background-color: chartreuse;
    float: right;
}
.x1{
    width: 860px;
    height: 300px;
    background-color: #33FFC5;
}
.x2{
    width: 860px;
    height: 300px;
    background-color:blue ;
}
.x1 p{
    width: 430px;
    height: 300px;
    background-color: darkmagenta;
    float: left;
}
.x1 ul{
    width: 430px;
    height: 300px;
    float: right;
    background-color: crimson;
}
.x1 ul li{
    width: 205px;
    height: 300px;
    margin-left: 10px;
    background-color: chartreuse;
    float: left;
}
.x2 ul li{
    width: 205px;
    height: 300px;
    margin-left: 10px;
    background-color:#999;
    float:left;
}