* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header {
    width: 100%;
    height: 120px;
    background: #FFFFFF;
}

.header_bar {
    width: 1200px;
    height: 120px;
    margin: 0 auto;
    /*background: chartreuse;*/
}

.logo {
    width: 390px;
    height: 58px;
    float: left;
    margin-top: 20px;
}

.logo img {
    width: 390px;
    height: 58px;
}

.right-bar {
    width: 450px;
    height: 30px;
    float: right;
    /*background: #006699;*/
    margin-top: 20px;
}

.search-bar {
    width: 250px;
    height: 30px;
    float: left;
    /*background-color: red;*/
}

.ss {
    width: 210px;
    height: 30px;
    float: left;
    background: #EEEEEE;
    position: relative;
}

.ss input {
    width: 200px;
    height: 20px;
    border: none;
    margin: 5px;
    color: #91847B;
    background: #EEEEEE;
    font-size: 12px;
}

.ss button {
    width: 30px;
    height: 30px;
    background: url("img/dapu_homeseach.png") no-repeat 7px 7px;
    border: none;
    position: absolute;
    left: 175px;
    top: -5px;
}

.q {
    width: 29px;
    height: 25px;
    background: url("img/dapu_minicart.png");
    display: inline-block;
    float: right;
    margin-top: 5px;
    position: relative;
}

.q1 {
    position: absolute;
    top: -5px;
    left: 22px;
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    color: #FFF;
    background-color: #b1544f;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    width: 19px;
    height: 17px;
}

.q2 {
    width: 300px;
    height: 30px;
    padding: 15px;
    border: 1px solid #6B6B6B;
    display: inline-block;
    position: absolute;
    background: #FFFFFF;
    top: 25px;
    right: -1px;
    font-family: 微软雅黑;
    line-height: 30px;
    color: #6B6B6B;
    font-size: 12px;
    display: none;
    z-index: 2;
}

.q:hover.q .q2 {
    display: block;
}

.right-bar ul {
    height: 30px;
    float: right;
    background: #b1544f;
    padding: 0 15px;
}

.right-bar ul li {
    color: #fff;
    line-height: 30px;
    font-size: 12px;
    float: left;
}

.right-bar ul li:hover {
    color: #7F5B42;
    text-decoration: underline;
}

.right-bar ul span {
    color: #fff;
    line-height: 30px;
    font-size: 12px;
    float: left;

}

.x {
    width: 1200px;
    height: 50px;
    /*background: coral;*/
    float: left;
}

.x1 {
    float: left;
    color: #605046;
    font-family: "Microsoft YaHei", 微软雅黑;
    font-size: 14px;
    line-height: 50px;
    /*background: #795da3;*/
    height: 50px;
    text-align: center;
    width: 98px;
}

.x2, .x3, .x4, .x5, .x6, .x7, .x8, .x9, .x10, .x11 {
    float: left;
    color: #605046;
    font-family: "Microsoft YaHei", 微软雅黑;
    font-size: 14px;
    line-height: 50px;
    /*background: #795da3;*/
    height: 50px;
    text-align: center;
    width: 108px;
    position: relative;
}

.x1:hover {
    font-weight: bold;
}

.x2:hover {
    font-weight: bold;
}

.x3:hover {
    font-weight: bold;
}

.x4:hover {
    font-weight: bold;
}

.x5:hover {
    font-weight: bold;
}

.x6:hover {
    font-weight: bold;
}

.x7:hover {
    font-weight: bold;
}

.x8:hover {
    font-weight: bold;
}

.x9:hover {
    font-weight: bold;
}

.x10:hover {
    font-weight: bold;
}

.x11:hover {
    font-weight: bold;
}

.z3_p:hover {
    color: #7F5B42;
    text-decoration: underline;
}

.z3_li:hover {
    text-decoration: none;
    background-color: #b2a89e;
    color: #ffffff;
}

.x i {
    width: 2px;
    height: 9px;
    float: left;
    background: url(img/d.png);
    margin-top: 20px;
}

.y1, .y2, .y3, .y4, .y5, .y6, .y7, .y8, .y9 {
    width: 750px;
    height: 300px;
    /*background: rebeccapurple;*/
    display: none;
    position: absolute;
    top: 45px;
    left: 0px;
    z-index: 3;
}

.z1 {
    width: 722px;
    height: 120px;
    padding: 0px 18px 10px 10px;
    /*background: #8ebefc;*/
}

.z2 {
    width: 722px;
    height: 60px;
    padding: 0px 18px 10px 10px;
    /*background: #8ebefc;*/
}

.z3 {
    width: 722px;
    height: 150px;
    padding: 0px 18px 10px 10px;
    /*background: #8ebefc;*/
}

.z4 {
    width: 722px;
    height: 60px;
    padding: 0px 18px 10px 10px;
    /*background: #8ebefc;*/
}

.z5 {
    width: 722px;
    height: 130px;
    padding: 0px 18px 10px 10px;
    /*background: #8ebefc;*/
}

.z6 {
    width: 722px;
    height: 60px;
    padding: 0px 18px 10px 10px;
    /*background: #8ebefc;*/
}

.z7 {
    width: 722px;
    height: 150px;
    padding: 0px 18px 10px 10px;
    /*background: #8ebefc;*/
}

.z8 {
    width: 722px;
    height: 120px;
    padding: 0px 18px 10px 10px;
    /*background: #8ebefc;*/
}

.z9 {
    width: 722px;
    height: 90px;
    padding: 0px 18px 10px 10px;
    /*background: #8ebefc;*/
}

.z3_ul {
    width: 713px;
    height: 30px;
    overflow: hidden;
}

.z3_p {
    font-size: 14px;
    line-height: 30px;
    margin-left: 5px;
    color: #6B6B6B;
    float: left;
    font-weight: bold;
    height: 30px;
    margin-right: 30px;
}

.z3_li {
    font-size: 12px;
    padding: 0px 3px;
    color: #6B6B6B;
    text-decoration: underline;
    float: left;
    height: 30px;
    white-space: nowrap;
    margin: 2px 0px;
    line-height: 30px;
    height: 30px;
    text-decoration: none;
}
.banner_list {
    width: 100%;
    height: 450px;
    background: #FFFFFF;
}

.banner_list_in {
    width: 1200px;
    height: 450px;
    margin: 8px auto;
    position: relative;
}

.banner_list_in img {
    width: 1200px;
    height: 450px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.banner_list_in .now {
    display: block;
}

.banner_list_in ul {
    width: 50px;
    position: absolute;
    /*background: #8c6c2d;*/
    left: 0;
    right: 0;
    bottom: 15px;
    margin: auto;
}

.banner_list_in ul li {
    width: 16px;
    height: 16px;

    border-radius: 16px;
    float: left;
    margin: 10px 3px;
}

.banner_list_in ul li p {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    border: 1px solid #6B6B6B;
}

.banner_list_in ul li .now {
    display: block;
    background: #FFFFFF;
    width: 18px;
    height: 18px;
    border: none;
}

.bj {
    width: 100%;
    height: 270px;
    opacity: 0.9;
    background-color: #FFFFFF;
    display: none;
    position: absolute;
    z-index: 2;
}

.review-wrapper {
    width: 100%;
    height: 33px;
    background: #FFFFFF;
    margin-top: 20px;
    text-align: center;
    font-size: 22px;
    font-family: 微软雅黑;
    font-weight: bold;
    color: #6B6B6B;
}

.ht {
    width: 100%;
    height: 60px;
    margin-top: 20px;
    background: #FFFFFF;
}

.ht_img {
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    background: #FFFFFF;
}

.ht_img img {
    width: 1200px;
    height: 60px;
}

.home_article {
    width: 1200px;
    height: 330px;
    margin: auto;
    /*background: dimgrey;*/
}

.box_article {
    width: 1202px;
    height: 330px;
    /*background: #7F5B42;*/
}

.home_article_w {
    width: 398px;
    height: 218px;
    background: #fff;
    position: relative;
    margin: 0px 1px 20px;
    float: left;
}

.col-xs-12 {
    width: 398px;
    height: 218px;
    position: relative;
    overflow: hidden;
    float: left;
}

.col-xs-12 img {
    width: 100%;
    height: 218px;
    transform-origin: 50% 50%;
}

.col-xs-12 img:hover {
    transition: all 2s linear;
    transform: translate3d(0px,-40px,0px)
    scale3d(1.1,1.1,1.1)
    rotate3d(0,0,1,360deg)
}


.article_box {
    font-family: 微软雅黑;
    position: absolute;
    bottom: -100px;
    width: 380px;
    margin-left: 9px;
    height: 128px;
    background: #eee;
    z-index: 999;
}

.xd1 {
    width: 380px;
    height: 50px;
    /*background: red;*/
}

.xd1_img {
    padding-top: 5px;
    width: 16.66%;
    float: left;
    position: relative;
    height: 40px;
}

.xd1_img img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.col-xs-10 {
    width: 83.33%;
    height: 44px;
    float: left;
    position: relative;
    /*background: aquamarine;*/
}

.col-xs-10_p1 {
    padding-top: 5px;
    color: rgb(34, 34, 34);
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    height: 18px;
    font-family: 微软雅黑;
}

.col-xs-10_p2 {
    width: 100%;
    padding-top: 3px;
}

.col-xs-1 {
    width: 50%;
    color: #4a4a4a;
    position: relative;
    float: left;
    text-align: left;
    /*background: rebeccapurple;*/
    height: 18px;
}

.col-xs-1-1 {
    width: 58.33%;
    color: rgb(108, 108, 108);
    margin-left: -5px;
    position: relative;
    float: left;
    font-family: 微软雅黑;
    /*background: chartreuse;*/
    height: 18px;
}

.col-xs-1-1 img {
    height: 11.5px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.col-xs-1-2 {
    width: 41.66%;
    height: 11.5px;
    position: relative;
    float: left;
    /*background: #3388ff;*/
}

.col-xs-1-2 img {
    height: 11.5px;
    float: left;
}

.col-xs-1-1-p {
    font-size: 12px;
    position: absolute;
    left: 13px;
    line-height: 18px;
}

.col-xs-2 {
    width: 50%;
    color: #4a4a4a;
    position: relative;
    float: left;
    text-align: left;
    /*background: red;*/
    height: 18px;
}

.col-xs-2-1 {
    width: 33.33%;
    height: 18px;
    float: left;
    /*background: #bc2e2e;*/
}

.col-xs-2-1 img {
    height: 11.5px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.col-xs-2-1-p {
    font-size: 12px;
    position: absolute;
    line-height: 18px;
    float: left;
    margin-left: 13px;
}

.xd2 {
    width: 380px;
    height: 27px;
    padding-top: 10px;
    padding-bottom: 8px;
    margin-top: -0.4em;
    /*background: #86ce2f;*/
}

.xd2-1 {
    width: 6%;
    float: left;
}

.xd2-1-1 {
    width: 4px;
    height: 16px;
    float: right;
    background: #76C5AF;
    margin-top: 5px;
}

.xd2-2 {
    width: 94%;
    height: 27px;
    float: left;
    /*background: #6B6B6B;*/
}

.xd2-2-p {
    width: 100%;
    height: 21px;
    float: left;
    margin-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    /*background: red;*/
    font-size: 14px;
    font-family: 微软雅黑;
}
.xp{
    width: 100%;
    height: 60px;
    background: #FFFFFF;
    margin-top: 20px;
}
.xp-img{
    width: 1200px;
    height: 60px;
    margin: 0 auto;
}
.xp-img img{
    width: 1200px;
    height: 60px;
}
.container{
    width: 1200px;
    height: 290px;
    /*background: red;*/
    margin: 0 auto;
}
.container-1{
    width: 398px;
    height: 290px;
    overflow: hidden;
    margin-right: 2px;
    float: left;
    position: relative;
    overflow: hidden;
}
.container-1 img{
    width: 398px;
    height: 290px;
    transform-origin: 50% 50%;
}
.container-1 img:hover{
    transition: all 5s linear;
    transform: translate3d(-50px,-50px,-50px)
    scale3d(1.1,1.1,1.1)
    rotate3d(1,1,1,360deg);
}
.container-1_in{
    width: 398px;
    height: 45px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -55px;
    margin: auto;
    background: #FFFFFF;
    text-align: center;
    padding-top: 10px;
}
.container-1_in p{
    width: 100%;
    height: 19px;
    line-height: 19px;
    color: #000;
    font-size: 13px;
}
.site-con{
    width: 100%;
    height: 1022px;
    margin-top: 20px;
    background: #FFFFFF;
    overflow: hidden;
}
.site-con_in{
    width: 1200px;
    height: 1022px;
    margin: 0 auto;
    /*background: red;*/

}
.site-con_in_img{
    width: 1200px;
    height: 60px;
}
.site-con_in_img img{
    width: 1200px;
    height: 60px;
}
.main-con{
    width: 1200px;
    height: 952px;
    margin-bottom: 10px;
    /*background: #3BE3FF;*/
}
.main-con_img-1{
    width: 238px;
    height: 478px;
    float: left;
    overflow: hidden;
    position: relative;
}
.main-con_img-1 img{
    width: 238px;
    height: 478px;
    border: 2px solid #FFFFFF;
    transform-origin: 50% 50%;
}
.main-con_img-1 img:hover{
    transition: all 2s linear;
    transform: translate3d(0px,-50px,0px)
    scale3d(1.1,1.1,1.1)
    rotate3d(0,1,1,360deg);
}
.main-con_img-2{
    width: 478px;
    height: 478px;
    float: left;
    overflow: hidden;
}
.main-con_img-2-1{
    width: 478px;
    height: 238px;
    float: left;
    overflow: hidden;
    position: relative;
}
.main-con_img-2-1 img{
    width: 478px;
    height: 238px;
    border: 2px solid #FFFFFF;
    transform-origin: 50% 50%;
}
.main-con_img-2-1 img:hover{
    transition: all 1.5s linear;
    transform:translate3d(0px,-50px,0px)
    scale3d(1.1,1.1,1.1)
    rotate3d(0,0,1,360deg);

}

.main-con_img-2_in{
    width: 478px;
    height: 45px;
    background: #FFFFFF;
    position: absolute;
    bottom: -55px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}
.main-con_img-2_in p{
    width: 100%;
    height: 19px;
    line-height: 19px;
    color: #000;
    font-size: 13px;

}
.main-con_img-3{
    width: 238px;
    height: 478px;
    float: left;
    overflow: hidden;
}
.main-con_img-3-1{
    width: 238px;
    height:238px;
    float: left;
    overflow: hidden;
    position: relative;
}
.main-con_img-3-1 img{
    width: 238px;
    height:238px;
    border: 2px solid #FFFFFF;
    transform-origin: 50%50%;
}
.main-con_img-3-1 img:hover{
    transition: all 1.5s linear;
    transform: translate3d(0px,-50px,0px)
    scale3d(1.1,1.1,1.1)
    rotate3d(0,0,1,360deg);
}
.main-con_img-3-1_in{
    width: 238px;
    height: 45px;
    background: #FFFFFF;
    position: absolute;
    bottom: -55px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}
.main-con_img-3-1_in p{
    width: 100%;
    height: 19px;
    line-height: 19px;
    color: #000;
    font-size: 13px;
}
.main-con_img-4 img{
    width: 238px;
    height: 478px;
    border: 2px solid #FFFFFF;
}
.main-con_img-1_in{
    width: 238px;
    height: 45px;
    background: #FFFFFF;
    position: absolute;
    bottom: -55px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}
.main-con_img-1_in p{
    width: 100%;
    height: 19px;
    line-height: 19px;
    color: #000;
    font-size: 13px;
}
.nav-img-1{
    width: 238px;
    height: 238px;
    float: left;
    overflow: hidden;
    position: relative;

}
.change{
    animation: change 10s linear;
    transform-origin:50% 50%;
}
.nav-img-1 img{
    width: 238px;
    height: 238px;
    border: 2px solid #FFFFFF;


}
@-webkit-keyframes change  {
10%{
    transform: translate3d(52px,-50px,55px)
    scale3d(1.5,1.1,0.1)
    rotate3d(0,0,1,89deg)
}
20%{

    transform: translate3d(3px,20px,63px)
    scale3d(2,1,2)
    rotate3d(0,1,0,77deg)
}
30%{
    transform: translate3d(25px,50px,10px)
    scale3d(1.5,1.2,1.6)
    rotate3d(1,0,0,69deg)
}
40%{

    transform: translate3d(85px,68px,72px)
    scale3d(1.5,2.1,0.1)
    rotate3d(0,0,1,213deg)
}
50%{

    transform: translate3d(36px,-20px,5px)
    scale3d(1.8,1.9,1.6)
    rotate3d(1,0,1,145deg)
}
60%{

    transform: translate3d(45px,8px,-60px)
    scale3d(1.1,1.1,1.1)
    rotate3d(1,1,0,89deg)
}
70%{

    transform: translate3d(-32px,-20px,21px)
    scale3d(1.6,1.2,1.7)
    rotate3d(0,1,1,125deg)
}
80%{

    transform: translate3d(20px,-45px,-20px)
    scale3d(1.5,1.8,1.2)
    rotate3d(1,1,0,78deg)
}
90%{

    transform: translate3d(30px,41px,21px)
    scale3d(1.3,1.8,1.7)
    rotate3d(1,0,1,125deg)
}
100%{

    transform: translate3d(0px,-50px,0px)
    scale3d(1.1,1.1,1.1)
    rotate3d(1,1,1,36deg)
}
}
.nav-img-1_in{
    width: 238px;
    height: 45px;
    background: #FFFFFF;
    position: absolute;
    bottom: -55px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}
.nav-img-1_in p{
    width: 100%;
    height: 19px;
    line-height: 19px;
    color: #000;
    font-size: 13px;
}
.user-ui-footer{
    width: 1200px;
    height: 266px;
    background: #EEEEEE;
    margin: 0 auto;
}
.item{
    width: 1200px;
    height: 150px;
    padding: 20px 0px;
    /*background: red;*/
    overflow: hidden;
}
.item_in{
    width: 300px;
    height: 150px;
    /*background: #005aa0;*/
    float: left;
    position: relative;
    overflow: hidden;
}
.item_in img{
    width: 120px;
    height: 120px;
    position: absolute;
    left:0;
    right: 0;
    margin: auto;
}
.item_in-p{
    width: 300px;
    height: 30px;
    position: absolute;
    bottom: 0;
    line-height: 30px;
    text-align: center;
    color: #6B6B6B;
    font-size: 12px;
}
.container1{
    width: 1200px;
    height: 76px;
    /*background: red;*/
}
.site-footer-context-1{
    width: 1200px;
    height: 28px;
    /*background: #444444;*/
    position: relative;
}
.user-ui-ul{
    width: 240.7px;
    height: 28px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    /*background: rebeccapurple;*/
}
.user-ui-ul li{
    float: left;
    height: 18px;
}
.user-ui-ul li a{
    color: #6B6B6B;
    font-size: 12px;
    line-height: 28px;
}
.user-ui-ul li span{
    color: #6B6B6B;
    font-size: 12px;
    line-height: 28px;
}
.site-footer-context-2{
    width: 1200px;
    height: 48px;
    /*background: #31c27c;*/
}
.site-footer-context-2 p{
    width: 1200px;
    height: 18px;
    white-space: pre-wrap;
    word-spacing: 2px;
    font-size: 12px;
    color: #6B6B6B;
    text-align: center;
}
.site-footer-context-2-1{
    width: 300px;
    height: 20px;
    margin: 0 auto;
    padding: 5px 0;
    text-align: center;
}
.site-footer-context-2-1 img{
    width: 14px;
    height: 16px;
    float: left;
    margin-left: 55px;
}
.site-footer-context-2-1 p{
    font-size: 12px;
    text-align: center;
    color: #6B6B6B;
    width: 177px;
    height: 20px;
    float: left;
    display: inline-block;
    margin-left: 5px;
}
.rightbar{
    height: 954px;
    width: 40px;
    float: right;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 10000;
    /*background-color: royalblue;*/
    opacity: 0.8;
}
.rightbar-p1{
    margin-top: 304px;
    width: 40px;
    height: 40px;
}
.rightbar-p2,.rightbar-p3,.rightbar-p4,.rightbar-p5,.rightbar-p6{
    width: 40px;
    height: 40px;
    margin-top: 10px;
}
.rightbar-p2 img,.rightbar-p3 img,.rightbar-p4 img,.rightbar-p5 img,.rightbar-p6 img,.rightbar-p1 img{
    width: 40px;
    height: 40px;

}
